<app-header></app-header>

<router-outlet></router-outlet>
<!-- <app-template-form></app-template-form> -->

 
<!-- <app-reactive-fom></app-reactive-fom> -->

<!-- <app-pipes></app-pipes> -->


<div class="container mt">
  <h3>{{title}}</h3>
  <div class="row">
    <!--Method -1 -  Observable & Subscribe  -->
      <!-- <ul>
          <li *ngFor="let bookdata of softBooks | async">
              Id = {{bookdata.id}}, Name = {{bookdata.name}}, Category = {{bookdata.category}}

          </li>
      </ul> -->


      <!--Method 2 -  Observable and subscribe With Async and Pipes -->
      <!-- <ul>
        <li *ngFor="let bookdata of softBooks | async">
            Id = {{bookdata.id}}, Name = {{bookdata.name}}, Category = {{bookdata.category}}

        </li>
    </ul> -->

    <!--Method 3 -  Observable and Subscribe with Async Pipe and ngIf-->
    <!-- <div *ngIf="softBooks | async as onebook; else loading">
      Id = {{onebook.id}}, Name = {{onebook.name}}, Category = {{onebook.category}}
    </div>

    <ng-template #loading>
      <img src="../assets/loading.gif" alt=";loading image" style="width: 250px;">
    </ng-template> -->


    <!--Method 4 - > Observable map method-->

    <div *ngIf="softBooks | async as bookname">
      {{bookname}}
    </div>


  </div>
  
</div>

<!--Get data from api-->
<!-- <div class="container">
    <h3>Get Dta Through Api</h3>
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Search..." [(ngModel)]="filterTerm">
      </div>
    <table class='table'>
        <thead>
          <tr>
            <th>userId</th>
            <th>Id</th>
            <th>Title</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of dataFetch | filter:filterTerm ">
            <td>{{user.userId}}</td>
            <td>{{user.id}}</td>
            <td>{{user.title}}</td>
            <td>{{user.completed}}</td>
          </tr>
        </tbody>
      </table>
</div> -->